@import "styles/variables";

.slashSeparated::after {
  content: " /";
}

.projectComponentBox {
  border: 2px solid $primary-yellow;
  background-color: $quaternary-yellow;
  & > img {
    border: 2px solid $secondary-yellow;
  }
  h1 {
    color: $secondary-yellow;
  }
  svg {
    fill: $primary-yellow;
  }
}
