/* General */
.listBox{
  border: 5px solid var(--yellow);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  gap: 10px;
}
.content > h2{
  color: #CAB422;
  font-size: 2.3rem;
}
/* not clickable */
.mainBox:has(.skillsBox){
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  justify-content: center;
}
.listBox:is(div){
  text-align: center;
}
.listBox:is(div) > img{
  width: 60px;
  aspect-ratio: 1;
}
.listBox:is(div) .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.listBox:is(div) .content button{
  display: none;
}
.skillsBox{
  display: flex;
  justify-content: space-evenly;
}
.skillsBox div{
  padding: 0px 15px;
}
.skillsBox img {
  width: 50px;
  aspect-ratio: 1;
}
/* clickable */
.mainBox:has(a){
  border: 1px solid royalblue;
  display: grid;
  grid-template-columns: 1;
  gap: 30px;
  justify-content: center;
}
.listBox:is(a){
  text-decoration: none;
  transition: 0.3s;
  gap: 20px;
  width: fit-content;
}
.listBox:is(a:hover){
  transform: scale(1.1);
}
.listBox:is(a) > img{
  width: 250px;
  border: 1px solid var(--black);  
}
.listBox:is(a) .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.listBox:is(a) .content p{
  font-size: 1.7rem;
  color: var(--black);
  width: 520px; 
}
.listBox:is(a) .content button{
  position: absolute;
  top:0;
  right:0;
  display: flex;
  align-items: center;
  border: 3px solid #CAB422;
  border-radius: 20px;
  background-color: var(--yellow);
  cursor: pointer;
  padding: 3px 6px;
  font-size: 1rem;
}
.listBox:is(a) .content button img{
  width: 40px;
}