.mainBox{
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
}
.listBox{
  border: 5px solid var(--yellow);
  border-radius: 50px;
  padding: 25px;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background: transparent;
}
.listBox > img{
  width: 95px;
  aspect-ratio: 1;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}
.content > h2{
  color: #CAB422;
  font-size: 2.3rem;
}
.skillsBox{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.skillsBox img {
  width: 70px;
  aspect-ratio: 1;
}
@media (max-width: 573px){
  .listBox{
    cursor: pointer;
    gap: 0px;
    position: relative;
  }
  .listBox > img{
    width: 80px;
  }
  .skillsBox{
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    width: 270px;
    top: 9px;
    right: 20px;
  }
  .skillsBox img{
    width: 60px;
  }
}