.header{
  height:100px;
  background-color:var(--yellow);
  display:flex;
  justify-content:space-between;
  align-items:center;
  position: relative;
  padding:0px 80px;
}
.menuButton{
  display:none;
  border:none;
  background-color:transparent;
  height:40px;
  cursor:pointer;
  transition:0.3s;
}
.menuButton div{
  height:6px;
  width:70px;
  border-radius:20px;
  border:1px solid var(--black);
  background-color: var(--black);
  transition:0.3s;
}
.menuButton:hover div:nth-child(2){
  width:60px;
}
.menuButton:hover div:nth-child(3){
  width:50px;
}
.menu ul{
  display: flex;
  gap: 35px;
}
.menu li{
  list-style:none;
  font-size:30px;
}
.menu a{
  text-decoration:none;
  color:var(--black);
}
.menu a:hover{
  text-decoration:underline;
}
@media(max-width: 930px){
  .menu{
    z-index: 1;
    position: absolute;
    top: 100px; 
    right: 0;
    display: flex;
    width: 100%;
    background-color:rgba(232, 214, 118, 0.5);
    padding: 10px;  
  }
  .menu ul{
    width: inherit;
    justify-content: space-around;
  }
}
@media(max-width: 675px){
  .header{
    padding: 0 40px;
  }
  .menu.show{
    height: 300px;
    visibility: visible;
  }
  .menu{
    height: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    transition: 0.4s;
    z-index: 1;
  }
  .menu ul{
    flex-direction: column; 
    gap: 0px;
    padding: 15px 23px;
  }
  .menu li{
    border-bottom: 1px solid black;
    padding: 15px 0px;
  }
  .menu li:first-child{
    padding-top: 0px;
  }
  .menu li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
  }
  .menuButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  } 
}
