.introBox{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  height: 720px;
  padding: 30px 40px;
  position: relative;
}
.leftBox{
  display:flex;
  justify-content:center;
}
.rightBox{
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  align-items:center;
  text-align:center;
  height:350px;
}
.leftBox img{
  filter:brightness(1.2);
}
.rightBox > h1{
  font-size:3.5rem;
  font-weight:normal;
}
.rightBox b{
  font-weight: normal;
  background-color: var(--yellow);
}
.scrollButton{
  position: absolute;
  bottom: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.scrollButton img{
  width: 80px;
  transition: 0.3s;
}
.scrollButton:hover img{
  margin-bottom: 20px;
}
@media(max-width: 1155px){
  .leftBox img{
    width: 300px;
  }
}
@media(max-width: 1096px){
  .rightBox > h1{
    font-size:3.3rem;
  }
}
@media(max-width: 1053px){
  .scrollButton{
    display: none;
  }
}
@media(max-width: 930px){
  .leftBox{
    margin-top: 45px;
  }
  .rightBox{
    height: 300px;
  }
  .rightBox > h1{
    font-size:3rem;
  }
}
@media(max-width: 675px){
  .leftBox{
    margin-top: 0px;
  }
}
@media(max-width: 500px){
  .leftBox{
    margin-top: initial;
  }
  .leftBox img{
    width: 250px;
  }
  .rightBox{
    height: auto;
    gap: 20px;
  }
  .rightBox > h1{
    font-size: 2rem;
  }
}