.introBox{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  height:80vh;
  padding: 30px 50px;          
}
.leftBox{
  display:flex;
  justify-content:center;
}
.rightBox{
  display:flex;
  flex-flow:column;
  justify-content:space-evenly;
  align-items:center;
  text-align:center;
  height:350px;
}
.leftBox img{
  filter:brightness(1.2);
}
.rightBox > h1{
  font-size:3.5rem;
  font-weight:normal;
}
.contentBox{
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.info{
  height:80%;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
}
.info img{
  width:7em;
}
.info a{
  text-decoration:none;
  color:var(--black);
  transition:0.3s;
}
.info a:hover{
  filter:invert(80%) sepia(80%) saturate(268%) brightness(95%) contrast(91%);
}
.info h1{
  font-size:2.3rem;
}
.info p{
  color:#B8B8B8;
  font-size:1.8rem;
}
@media(max-width: 1155px){
  .leftBox img{
    width: 300px;
  }
}
@media(max-width: 744px){
  .leftBox{
    margin-top: 60px;
  }
  .rightBox > h1{
    font-size:3rem;
  }
  .rightBox{
    height: 100px;
  }
  .contentBox{
    flex-direction: column;
    top: 300px;
    left: 50px;
    position: absolute;
    width: 70px;
    height: 230px;
  }
  .info{
    background-color: var(--gray);
    height: 55px;
    width: 55px;
    border-radius: 15px;
  }
  .info img{
    width: 40px;
    margin-top: 3px;
  }
  .info h1, .info p{
    display: none;
  }
}