// funcao que gera classes com propriedades numericas
@mixin generate-class-by-increment($property, $start, $end, $unit) {  
  @if $unit == percent {
    // gera classes com porcentagem % como unidade de medida
    @for $i from $start through $end {
      $value: $i + 1;
      .#{$property}-#{$value}-#{$unit} {
        #{$property}: $value * 1%;
      }
    }
  } @else if $unit == null {    
    // gera classes com sem unidade de medida
    @for $i from $start through $end {
      $value: $i + 1;
      .#{$property}-#{$value} {
        #{$property}: #{$value};
      }
    }
  } @else {    
    @for $i from $start through $end {
      $value: $i + 1;
      .#{$property}-#{$value}-#{$unit} {
        #{$property}: #{$value}#{$unit};
      }
    }
  }
}

// funcao que gera classes baseado em lista de valores
@mixin generate-class-by-values($property, $list) {
  @each $value in $list {
    .#{$property}-#{$value} {
      #{$property}: $value;
    }
  }
}

// funcao que gera classes baseado em lista de valores
@mixin generate-position-class-by-increment($property, $positions, $start, $end, $unit) {
  @each $position in $positions {
    $property-position: #{$property}-#{$position};
    @include generate-class-by-increment($property-position, $start, $end, $unit);
  }
}

// geracao de classes css customizadas
@include generate-class-by-values(display, (flex));
@include generate-class-by-values(flex-direction, (column));
@include generate-class-by-values(align-items, (center));
@include generate-class-by-values(justify-content, (center, space-between, space-around, space-evenly));
@include generate-class-by-values(position, (relative, absolute, fixed));
@include generate-class-by-values(flex-flow, (wrap));
@include generate-class-by-values(text-align, (center, justify));
@include generate-class-by-values(font-weight, (normal, bold));
@include generate-class-by-increment(font-weight, 0, 500, null);
@include generate-class-by-increment(top, -100, 125, px);
@include generate-class-by-increment(left, -1, 0, px);
@include generate-class-by-increment(right, -100, 0, px);
@include generate-class-by-increment(width, 0, 100, percent);
@include generate-class-by-increment(width, 0, 30, px);
@include generate-class-by-increment(height, 0, 600, px);
@include generate-class-by-increment(height, 0, 200, percent);
@include generate-class-by-increment(gap, 0, 70, px);
@include generate-class-by-increment(font-size, 0, 30, px);
@include generate-class-by-increment(font-size, 0, 10, rem);
@include generate-class-by-increment(line-height, 0, 50, px);
@include generate-class-by-increment(z-index, -10, 100, null);
@include generate-position-class-by-increment(padding, (left, right), 0, 40, px);
@include generate-position-class-by-increment(margin, (top, bottom, left, right), 0, 40, px);
