@media (max-width: 1130px) {
  #intro-container {
    & > img { //blob background
      opacity: 0.4; 
    }
    h1 {
      text-align: center;
    }
    div {
      & > p {
        width: 100%;
      }
      & > div { //social media container
        justify-content: space-evenly;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 810px) {
  #projects-container {
    & > div:nth-child(2) {
      align-items: center;
    }
    a {
      flex-direction: column;
      justify-content: center;
      #content {
        text-align: center;
        align-items: center;
        div {
          justify-content: center;
        }
      }
    }
    button {
      display: none;
    }
  }
}

@media (max-width: 795px) {
  .contact-fieldset-component {
    & > div > div {
      gap: 20px;
    }
    hr {
      display: none;
    }
    form {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  #header {
    height: unset;
    padding: 40px 0px 20px 0px;
  }

  #intro-container h1 {
    font-size: 2.2rem;
  }

  #header-menu-button {
    display: unset;
  }

  #nav-container {
    position: absolute;
    flex-direction: column;
    gap: 20px;
    top: 100px;
    right: 70px;
    border: 2px solid $primary-yellow;
    background-color: $tertiary-yellow;
    padding: 25px 30px;
    border-radius: 10px;
  }
}

@media (max-width: 660px) {
  #social-media-intro-component p {
    display: none;
  }
}

@media (max-width: 620px) {
  #job-experience-component-header {
    width: 100%;
    flex-direction: column;
    align-items: unset;
    gap: 0px;
    img {
      align-self: center;
    }
    button {
      top: -30px;
      right: -30px;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $primary-yellow;
    }
  }
}

@media (max-width: 545px) {
  .section-title {
    font-size: 1.8rem;
    text-align: center;
  }
  #projects-title-container {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 520px) {
  #social-media-intro-component h3 {
    display: none;
  }

  #intro-container {
    & > div {
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  #intro-container {
    & > div {
      h1 {
        font-size: 1.8rem;
        img {
          width: 30px;
        }
      }
      p { 
        line-height: 30px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 395px) {
  #social-media-intro-component svg {
    font-size: 2rem;
  }
}
