:root{
  --yellow:#E8D676;
  --black:#212427;
  --gray: #B8B8B8;
  --darker-yellow: #CAB422;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}
.defaultMargin{ 
  margin: 50px 40px;
}
.contentTitle{
  display: inline-block;
  font-size: 2.5em;
  padding-bottom: 0px;
  border-bottom: 5px solid var(--yellow);
}