@import "mixins";
@import "variables";
@import "components";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.ver {
  border: 1px solid red;
}

header {
  background-color: rgba(255, 99, 71, 0);
  backdrop-filter: blur(2.3px);
}

main {
  background-color: $quaternary-yellow;
  background-image: paint(dot-grid);
  --dot-size: 5px;
  --dot-spacing: 8px;
  --dot-color: #{$tertiary-yellow};
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

h1 {
  mark {
    background-color: $primary-yellow;
    padding-bottom: 5px;
  }
}

#waving-emoji {
  animation-name: wave;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// geracao de classes css customizadas
@include generate-class-by-values(display, (flex));
@include generate-class-by-values(flex-direction, (column));
@include generate-class-by-values(align-items, (center));
@include generate-class-by-values(justify-content, (center, space-between, space-around, space-evenly));
@include generate-class-by-values(position, (relative, absolute, fixed));
@include generate-class-by-values(flex-flow, (wrap));
@include generate-class-by-values(text-align, (center, justify));
@include generate-class-by-values(font-weight, (normal, bold));
@include generate-class-by-values(text-transform, (capitalize));
@include generate-class-by-increment(font-weight, 0, 900, null);
@include generate-class-by-increment(top, -100, 125, px);
@include generate-class-by-increment(left, -1, 0, px);
@include generate-class-by-increment(right, -100, 100, px);
@include generate-class-by-increment(right, -100, 0, percent);
@include generate-class-by-increment(min-width, 0, 300, px);
@include generate-class-by-increment(width, 0, 100, percent);
@include generate-class-by-increment(width, 0, 500, px);
@include generate-class-by-values(width, (fit-content));
@include generate-class-by-increment(height, 0, 600, px);
@include generate-class-by-increment(height, 0, 200, percent);
@include generate-class-by-increment(margin, 0, 20, px);
@include generate-class-by-increment(padding, 0, 20, px);
@include generate-class-by-increment(gap, 0, 70, px);
@include generate-class-by-increment(font-size, 0, 30, px);
@include generate-class-by-increment(font-size, 0, 10, rem);
@include generate-class-by-increment(line-height, 0, 50, px);
@include generate-class-by-increment(z-index, -10, 100, null);
@include generate-class-by-increment(border-radius, 0, 50, px);
@include generate-position-class-by-increment(padding, (left, right), 0, 40, px);
@include generate-position-class-by-increment(margin, (top, bottom, left, right), 0, 200, px);