@import "mixins", "variables", "components", "responsive", "animations";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.font-size-1-dot-1-rem {
  font-size: 1.1rem;
}

.font-size-1-dot-3-rem {
  font-size: 1.3rem;
}

header {
  background-color: rgba(255, 99, 71, 0);
  backdrop-filter: blur(1.3px);
}

main {
  background-color: $quaternary-yellow;
  background-image: url("/static/dot-background.svg");
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

h1 {
  mark {
    background-color: $primary-yellow;
    padding-bottom: 5px;
  }
}

footer {
  background-color: $primary-yellow;
  a{
    text-decoration: underline;
  }
}

// geracao de classes css customizadas
@include generate-class-by-values(display, (flex, none));
@include generate-class-by-values(flex-direction, (column));
@include generate-class-by-values(align-items, (center));
@include generate-class-by-values(justify-content, (center, space-between, space-around, space-evenly));
@include generate-class-by-values(position, (relative, absolute, fixed));
@include generate-class-by-values(flex-flow, (wrap));
@include generate-class-by-values(text-align, (center, justify));
@include generate-class-by-values(font-weight, (normal));
@include generate-class-by-values(text-transform, (capitalize));
@include generate-class-by-increment(font-weight, 400, 600, null);
@include generate-class-by-increment(top, -100, 80, px);
@include generate-class-by-increment(right, -12, 30, px);
@include generate-class-by-increment(right, -5, 0, percent);
@include generate-class-by-increment(min-width, 199, 200, px);
@include generate-class-by-increment(width, 0, 100, percent);
@include generate-class-by-increment(width, 0, 500, px);
@include generate-class-by-values(width, (fit-content));
@include generate-class-by-increment(height, 0, 600, px);
@include generate-class-by-increment(height, 0, 100, percent);
@include generate-class-by-increment(padding, 0, 30, px);
@include generate-class-by-increment(gap, 0, 70, px);
@include generate-class-by-increment(font-size, 17, 25, px);
@include generate-class-by-increment(font-size, 0, 2, rem);
@include generate-class-by-increment(line-height, 20, 40, px);
@include generate-class-by-increment(z-index, 0, 2, null);
@include generate-class-by-increment(border-radius, 0, 40, px);
@include generate-position-class-by-increment(padding, (top), 30, 40, px);
@include generate-position-class-by-increment(margin, (top, bottom, left, right), -1, 80, px);